.banner {
    height: 530px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}

.banner-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 8px 32px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-info-title {
    font-size: 34px;
    font-weight: bold;
    line-height: 46px;
    display: block;
    width: 75%;
}

.banner-info-content {
    margin-top: 7px;
    font-size: 15px;
    width: 60%;
}

.banner-info-wrap {
    margin-top: 15px;
}

.banner-info-wrap a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.banner-info-wrap a:first-child {
    background-color: #e50914;
    border-radius: 7px;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

.banner-info-wrap a:first-child img {
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: 1px;
}

.banner-info-wrap a:first-child:hover {
    background-color: #f40612;
}

.banner-info-wrap a:last-child {
    margin-left: 30px;
    font-size: 18px;
}

.banner-info-wrap a:last-child:hover {
    text-decoration: underline;
}

@media screen and (min-width: 720px) and (max-width: 876px) {
    .mySwiper {
        margin-top: 19px;
    }

    .banner {
        height: 400px;
    }

    .banner-info-title {
        width: 85%;
    }

    .banner-info-content {
        width: 80%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }
}

@media screen and (min-width: 576px) and (max-width: 720px) {
    .banner {
        height: 400px;
    }

    .banner-info-content {
        width: 70%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}

@media screen and (max-width: 576px) {
    .mySwiper {
        margin-top: 16px;
    }

    .banner {
        height: 460px;
        background-size: cover;
    }

    .banner-info {
        padding-top: 0;
        justify-content: center;
    }

    .banner-info-title {
        font-size: 28px;
        line-height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .banner-info-content {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }

    .banner-info-wrap {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .banner-info-wrap a:first-child {
        font-size: 16px;
    }

    .banner-info-wrap a:last-child {
        font-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .banner-info-title {
        font-size: 26px;
    }

    .banner-info-content {
        font-size: 14px;
    }
}
