.contact-main {
    padding: 70px; 
    border-top: 2px solid #141313;
}

.contact-title1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #f1b722;
    font-size: 20px;
    font-weight: bold;
}

.contact-title2 {
    font-size: 34px;
    padding: 50px 0;
    font-weight: bold;
}

.contact-form {
    width: 100%;
}

.contact-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    margin: 22px 22px 0 0;
    font-size: 18px;
    font-family: inherit;
    color: #fff;
    border-bottom: 1px solid #333030;
}

.contact-form textarea {
    position: relative;
    top: 19px;
}

.contact-input:focus {
    border-bottom: 1px solid #f1b722;
}

.contact-input.email {
    width: 325px;
}

.contact-input.message {
    width: 325px;
    height: 120px;
}

.contact-form button {
    display: block;
    margin-top: 35px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #f1b722;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 7px;
    padding: 12px 24px;
}

.contact-form button:hover {
    background-color: #f1be3c;
}

@media screen and (max-width: 720px) {
    .contact-main {
        padding: 30px 50px;
    }
}

@media screen and (max-width: 576px) {
    .contact-main {
        padding: 30px 45px;
    }

    .contact-title2 {
        font-size: 29px;
        padding: 35px 0 20px 0;
    }

    .contact-input, .contact-input.email, .contact-input.message {
        font-size: 17px;
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .contact-main {
        padding: 30px 20px;
    }

    .contact-title1 {
        font-size: 20px;
        letter-spacing: 4px;
    }

    .contact-title2 {
        font-size: 23px;
        line-height: 36px;
        padding: 25px 0 0 0;
    }

    .contact-input {
        padding: 8px;
        font-size: 15px;
    }
}
