.footer {
    padding: 30px 70px;
    border-top: 3px solid gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-info {
    color: #757575;
    padding: 0 50px 0 0;
}

.footer-info-name {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
}

.footer-info-name span {
    color: #e50914;
}

.footer-info-address {
    padding: 8px 0;
}

.footer-info > span:last-child {
    display: block;
    padding: 8px 0;
}

.footer-info-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
}

.footer-info-wrap ul {
    padding: 0 10px 10px 0;
    list-style: none;
}

.footer-info-wrap ul li a {
    display: block;
    padding: 12px 0;
    font-weight: bold;
    text-decoration: none;
    color: #757575;
    line-height: 26px;
}

.footer-info-wrap ul li a:hover {
    transition: all 0.5s;
    color: #e50914;
}

.footer-copyright {
    padding: 12px 70px;
    font-size: 15px;
    letter-spacing: 1.5px;
    border-top: 1px solid gray;
}

@media screen and (max-width: 876px) {
    .footer {
        flex-direction: column;
        padding: 50px 70px 30px 70px;
    }

    .footer-info {
        width: 100%;
        padding-right: 0;
    }

    .footer-info-wrap {
        width: 100%;
    }

    .footer-info-wrap ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 30px 50px;
    }

    .footer-copyright {
        padding: 12px 50px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        padding: 30px 45px;
    }

    .footer-info-name {
        font-size: 20px;
    }

    .footer-info {
        font-size: 15px;
    }

    .footer-info-address {
        padding: 13px 0 8px 0;
    }

    .footer-info-wrap ul li a {
        font-size: 14px;
    }

    .footer-copyright {
        padding-left: 45px;
    }
}

@media screen and (max-width: 440px) {
    .footer {
        padding: 30px 20px;
    }

    .footer-copyright {
        padding: 12px 20px;
        font-size: 14px;
    }
}